<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520425375754-hghoafcsn332bneljln68tjbrr1ok8et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520425375754-hghoafcsn332bneljln68tjbrr1ok8et</string>
	<key>API_KEY</key>
	<string>AIzaSyBHuJeoKAQClYcuOh3W54q5VLNvKi0SG-4</string>
	<key>GCM_SENDER_ID</key>
	<string>520425375754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLoginDummy</string>
	<key>PROJECT_ID</key>
	<string>signinfirebase-eb77c</string>
	<key>STORAGE_BUCKET</key>
	<string>signinfirebase-eb77c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520425375754:ios:c8bac5d37beec6f5c1b7f3</string>
</dict>
</plist>